* {
	font-family: monospace;
	font-weight: 100;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-size: var(--font-size-large);
}

h1 {
	font-size: var(--font-size-large);
	background: white;
	padding: 10px;
	text-align: center;
	/* height: fit-content;
	width: fit-content;
	position: relative; */
}

/* h1:before, h1:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1::before {
	background: white;
	animation: typwriterAnimation 4s steps(7) forwards;
}

h1::after {
	width: 0.125em;
	background: black;
	animation: typwriterAnimation 4s steps(7) forwards,
	blink 750ms steps(24) infinite;
}

@keyframes typwriterAnimation {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
} */

h2 {
	font-size: var(--font-size-large);
}

h3 {
	font-size: var(--font-size-large);
	font-weight: 500;
}

